<html ng-app="Patriot">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel='stylesheet' href='app/css/main.css'>
	</head>
		<nav class='navbar navbar-default navbar-fixed-top' ng-controller='NavigationController'>
			<div class='container'>
				<div ng-show='!loggedIn'> 
					<ul class="nav navbar-nav navbar-left">
						<li><input type='text' ng-model='login.email'> </li>
						<li><input type='password' ng-model='login.password'> </li>
						<li><button ng-click='LogUserIn()' ui-sref='home' class="btn btn-primary">Login</button></li>
						<li><a ui-sref='signup'> Create an account </a></li>
					</ul>
				</div>
				<div ng-show='loggedIn'>
					<ul class="nav navbar-nav navbar-left">
						<li><button ng-click='LogUserOut()' class="btn btn-primary">Logout</button></li>
						<li><a ui-sref='editProfile'> Edit your Profile </a></li>
						<li><a ui-sref='home'> Home</a></li>
						<button ui-sref='createPost' class="btn btn-primary">Create a new post</button>
					</ul>
				</div>
			</div>
		</nav>
	<body>
		<!-- Banner -->
		<!-- <div class="container-fluid">
   			<div class="row">
				<img src="/images/patriots2.jpg" class="img-responsive" style='height:50px;'>
		   </div>
		</div> -->
		<div class='container'>
			<div ui-view>
			</div>
		</div>
	</body>


			
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
	<script type="text/javascript" src='app/app.js'></script>
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js'></script>
	<script src='app/signup/signup-controller.js'></script>
	<script src='app/navigation/navigation-controller.js'></script>
	<script src='app/profile/edit-profile-controller.js'></script>
	<script src='app/posts/posts-controller.js'></script>
	<script src='app/home/home-controller.js'></script>
	<!-- Libraries -->
	<script type="text/javascript" src='node_modules/ng-file-upload/dist/ng-file-upload.js'></script>
	<script type="text/javascript" src='node_modules/ng-file-upload/dist/ng-file-upload-all.js'></script>
	<script type="text/javascript" src='node_modules/ng-file-upload/dist/ng-file-upload-shim.js'></script>


</html>