<div class='col-sm-8 col-sm-offset-2'>
	<div class='row'>
	<p> <strong>{{post.title}}</strong> </p>
	<p> {{post.body}} </p>
	{{post.link}}
	<form ng-submit='createComment(post._id)' id='commentForm'>
		<input type='text' ng-model='comment'> 
		<button type='submit' class='btn btn-primary' form='commentForm'> Post Comment </button>
	</form>
		<div ng-repeat='comment in post.comments'>
			<div class='row'>
				<div class='well well-sm'>
					<p class='col-sm-2'>
						{{comment.body}}
					</p>
					<form ng-submit='reply(post._id, comment._id, replyText)' id='replyForm'>
						<input type='text' ng-model='replyText'> 
						<button class='btn btn-primary' type='submit' form='replyForm' > Reply </button>
					</form>
				</div>
			</div>
				<div class='well well-sm' ng-repeat='child in comment.children' style='width:80%; margin-left: 20%;'>
					<p style=''>{{child.body}}</p>
				</div>
		</div>	
	</div>
</div>