<div class='col-sm-2'>
	<div class='row' style='border:solid;'>
		Profile Picture..
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
	<div class = 'row'>  
 		<button class="btn btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" >
 			Upload Photo
 		</button>
	</div>
	<div class='row'>
		Update Username:
		<input class='form-control' ng-model='user.username' ng-blur='updateUsername()'>
	</div>

	<div class='row'>
		Update Bio:
		<textarea class='form-control' ng-model='user.bio' ng-blur='updateBio()'> </textarea>
	</div>
</div>

<div class = 'col-sm-6 col-sm-offset-2' style='border:solid;'>
	<div class='row row-offset-8'>
		Bio
	</div>
</div>